USE [master]
GO
/****** Object:  Database [BAN_HANG]    Script Date: 9/25/2021 7:45:41 PM ******/
CREATE DATABASE [BAN_HANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BAN_HANG', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BAN_HANG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BAN_HANG_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BAN_HANG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BAN_HANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BAN_HANG]
GO
/****** Object:  Table [dbo].[USERR]    Script Date: 9/25/2021 7:45:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[PHONE] [nvarchar](255) NULL,
	[USERNAME] [nvarchar](255) NULL,
	[PASSWORD] [nvarchar](255) NULL,
	[ABOUT] [nvarchar](255) NULL,
	[ROLE] [nvarchar](255) NULL,
	[FAVOURITES] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[USERR] ON 

INSERT [dbo].[USERR] ([ID], [NAME], [PHONE], [USERNAME], [PASSWORD], [ABOUT], [ROLE], [FAVOURITES]) VALUES (1, N'A', N'0234523452', N'U1', N'11111', N'ASDFASD ASDFAS ASDDFG', N'ROLE_USER ', N'Music ')
INSERT [dbo].[USERR] ([ID], [NAME], [PHONE], [USERNAME], [PASSWORD], [ABOUT], [ROLE], [FAVOURITES]) VALUES (2, N'B', N'0234523452', N'U2', N'11111', N'ASDFASD ASDFAS ASDDFG', N'ROLE_USER ', N'Movie')
INSERT [dbo].[USERR] ([ID], [NAME], [PHONE], [USERNAME], [PASSWORD], [ABOUT], [ROLE], [FAVOURITES]) VALUES (3, N'C', N'0234523452', N'U3', N'11111', N'', N'ROLE_USER ', N'Movie')
SET IDENTITY_INSERT [dbo].[USERR] OFF
GO
USE [master]
GO
